---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Contacto',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contacto" title="Escríbenos!" />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: 'https://wa.link/dhuebg',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Dejanos tu mensaje</span>
    </Fragment>

    <Fragment slot="subtitle">
      Escríbenos para contratar nuestros servicios y tener más información.
    </Fragment>
  </CallToAction>
  
  <!-- Features2 Widget ************** -->

  <Features2
    title="¡Estamos aquí para ayudarte!"
    items={[
      {
        title: 'WhatsApp',
        description: '(+58) 412-8414230',
        icon: 'tabler:headset',
      },
      {
        title: 'Correo electrónico',
        description: 'notificacionesinterwireless@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Dirección',
        description: 'Ciudad de Turmero, estado Aragua.',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
