---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Interwireless — Internet por fibra optica',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Planes',
        href: 'https://google.com',
        target: '_blank',
      },
      { text: 'Saber más', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      El internet más rápido <span class="hidden xl:inline">de Turmero</span>
      <span class="text-accent highlight">Fibra Óptica</span> al mejor precio
    </Fragment>

    <Fragment slot="subtitle">
      Te ofrecemos internet de alta velocidad e instalación inmediata en el Edo. Aragua.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="CARACTERÍSTICAS"
    title="Bentajas de la fibra óptica"
    subtitle="Esta tecnología, que utiliza la luz como medio de transmisión, permite transportar señales a velocidades mucho más altas y con menor distorsión, incluso en comparación con cables de cobre del mismo diámetro."
    items={[
      {
        title: 'Rápida instalación',
        description:
        'En Interwireless trabajamos con un equipo de intaladores para que tengas el servicio de internet donde lo necesites rápidamente.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Atención garantizada',
        description:
        'Nuestro equipo atenderá tus preguntas sobre nuestro servicios y planes.',
        icon: 'tabler:rocket',
      },      
    {
      title: 'Mayor Velocidad',
      description:
        'La fibra óptica ofrece velocidades de transmisión de datos mucho más elevadas que los cables de cobre. Esto se debe a que la luz viaja a través de la fibra óptica a una velocidad mucho mayor que la electricidad a través del cobre.',
      icon: 'tabler:brand-tailwind',
    },
    {
      title: 'Mayor Ancho de Banda',
      description:
        'La fibra óptica tiene un ancho de banda mucho mayor que el cable de cobre. Esto significa que puede transportar más datos al mismo tiempo.',
      icon: 'tabler:components',
    },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="INTERWIRELESS TV"
    title="Televisión en vivo"
    items={[
      {
        title: 'Diseñado para ti',
        description:
          'Olvídate de las complicaciones. Esta aplicación te ofrece una interfaz intuitiva y fácil de usar, perfecta para que disfrutes de tu contenido favorito sin esfuerzo.',
      },
      {
        title: 'Las 24 horas del día',
        description:
          'Disfruta de tus películas y series favorias a la hora que desees.',
      },
      {
        title: 'En cualquier dispositivo',
        description:
          'Podrás acceder desde tu movil, table o computadora.',
      },
    ]}
    image={{
      src: '~/assets/images/iptv.jpg',
      alt: 'IPTV Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">App IPTV</h3>
      Disfruta de una experiencia de entretenimiento sin igual con nuestro reproductor de video en streaming:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
  isAfterContent
    tagline="Cobertura"
    title="Encuentranos en Turmero"
    items={[
      {
        title: 'Instalamos equipos de última generación',
        description: `Para que la calidad del internet sea la mejor.`,
      },
      {
        title: 'Equipo responsable',
        description:
          'Trabajamos para conectar internet a cada casa y empresa de Turmero, impulsando su crecimiento tecnológico.',
      },
      {
        title: 'Soporte Garantizado',
        description:
          'Siempre estamos dispuestos a escucharte, escríbenos para saber qué necesitas de nuestros servicios y en qué te podemos ayudar.',
      },
    ]}
    image={{
      src: '~/assets/images/mapa.JPG',
      alt: 'Blueprint Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Turmero, Edo. Araure.</h3>
    Consulta si estamos en tu zona
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

 
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
    ]}
  />

<!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: 'https://google.com',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Contactanos</span>
    </Fragment>

    <Fragment slot="subtitle">
      Escríbenos para contratar nuestros servicios y tener más información.
    </Fragment>
  </CallToAction>
</Layout>
