---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Interwireless — La Fibra optica de Turmero',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Planes',
        href: '/pricing',
        target: '_blank',
      },
      { text: 'Saber más', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Internet a tu alcance <br>
      <span class="text-accent highlight">La Fibra Óptica</span> de Turmero
    </Fragment>

    <Fragment slot="subtitle">
      Te ofrecemos internet de alta velocidad e instalación inmediata en el Edo. Aragua.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="CARACTERÍSTICAS"
    title="Bentajas de la fibra óptica"
    subtitle="Esta tecnología, que utiliza la luz como medio de transmisión, permite transportar señales a velocidades mucho más altas y con menor distorsión, incluso en comparación con cables de cobre del mismo diámetro."
    items={[
      {
        title: 'Rápida instalación',
        description:
        'En Interwireless trabajamos con un equipo de intaladores para que tengas el servicio de internet donde lo necesites rápidamente.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Atención garantizada',
        description:
        'Nuestro equipo atenderá tus preguntas sobre nuestro servicios y planes.',
        icon: 'tabler:rocket',
      },      
    {
      title: 'Mayor Velocidad',
      description:
        'La fibra óptica ofrece velocidades de transmisión de datos mucho más elevadas que los cables de cobre. Esto se debe a que la luz viaja a través de la fibra óptica a una velocidad mucho mayor que la electricidad a través del cobre.',
      icon: 'tabler:brand-tailwind',
    },
    {
      title: 'Mayor Ancho de Banda',
      description:
        'La fibra óptica tiene un ancho de banda mucho mayor que el cable de cobre. Esto significa que puede transportar más datos al mismo tiempo.',
      icon: 'tabler:components',
    },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="INTERWIRELESS TV"
    title="Televisión en vivo"
    items={[
      {
        title: 'Diseñado para ti',
        description:
          'Olvídate de las complicaciones. Esta aplicación te ofrece una interfaz intuitiva y fácil de usar, perfecta para que disfrutes de tu contenido favorito sin esfuerzo.',
      },
      {
        title: 'Las 24 horas del día',
        description:
          'Disfruta de tus películas y series favorias a la hora que desees.',
      },
      {
        title: 'En cualquier dispositivo',
        description:
          'Podrás acceder desde tu movil, table o computadora.',
      },
    ]}
    image={{
      src: '~/assets/images/tv-wireless.png',
      alt: 'IPTV Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">App IPTV</h3>
      Disfruta de una experiencia de entretenimiento sin igual con nuestro reproductor de video en streaming:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-orange-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
  isAfterContent
    tagline="Cobertura"
    title="Encuentranos en Turmero"
    items={[
      {
        title: 'Instalamos equipos de última generación',
        description: `Para que la calidad del internet sea la mejor.`,
      },
      {
        title: 'Equipo responsable',
        description:
          'Trabajamos para conectar internet a cada casa y empresa de Turmero, impulsando su crecimiento tecnológico.',
      },
      {
        title: 'Soporte Garantizado',
        description:
          'Siempre estamos dispuestos a escucharte, escríbenos para saber qué necesitas de nuestros servicios y en qué te podemos ayudar.',
      },
    ]}
    image={{
      src: '~/assets/images/mapa.JPG',
      alt: 'orangeprint Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Turmero, Edo. Araure.</h3>
    Consulta si estamos en tu zona
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-orange-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes"
    tagline="ENCUENTRA RESPUESTAS"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: "¿Trabajan con internet por cable o fibra óptica?",
        description:
          "En interwireless trabajamos con fibra óptica, ya que es más rápida que el cableado de cobre común.",
      },
      {
        title: '¿Tienen servicio de televisión?',
        description:
          "Sí, en Interwireless tenemos nuestra app IPTV en la que puedes disfrutar de televisión en vivo, tus series favoritas y películas, a la hora que quieras y en el dispositivo de tu preferencia.",
      },
      {
        title: '¿Cómo contrato un plan de internet?',
        description:
          'Para contratar un plan de internet, escríbenos a nuestro whatsapp (+58)0412-8414230 y te daremos toda la información que necesites para que disfrutes de un servicio de internet de calidad.',
      },
      {
        title: '¿Dónde están ubicados?',
        description:
          "Interwireless está ubicada en la ciudad de Turmero, edo. Aragua.",
      },
    ]}
  />

<!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: 'https://wa.link/dhuebg',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Contáctanos</span>
    </Fragment>

    <Fragment slot="subtitle">
      Escríbenos para contratar nuestros servicios y tener más información.
    </Fragment>
  </CallToAction>
</Layout>
