---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sobre Interwireless',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Sobre nosotros"
    image={{
      src: '~/assets/images/fondo-logo.png',
      alt: 'Fondo con logo',
    }}
  >
    <Fragment slot="title">
      Principal proveedor de internet <br />
      <span class="text-accent dark:text-white highlight"> En la ciudad de Turmero, estado Aragua.</span>
    </Fragment>

    <Fragment slot="subtitle">
      Interwireless irrumpió en el mercado de telecomunicaciones de Turmero, estado Aragua, con la firme convicción de brindar a la comunidad una alternativa innovadora y de alta calidad en el acceso a internet: la fibra óptica.
    </Fragment>
  </Hero>
  
    <!-- Features2 Widget ************** -->
  
    <Features2
      title="Nuestra misión y visión"
      tagline="Conoce"
      columns={2}
      items={[
        {
          title: 'Misión',
          description:
            'Ofrecer soluciones tecnológicas, innovadoras, ágiles y flexibles enfocadas en la satisfacción del cliente a través de un equipo humano altamente capacitado, con pasión e integridad obteniendo resultados que aportan valor a los diferentes grupos de interés manteniendo un alto sentido de responsabilidad corporativa. ',
        },
        {
          title: 'Visión',
          description:
            'Ser el proveedor favorito de soluciones de nueva generación para INTERNET, CONECTIVIDAD Y ENTRETENIMIENTO en los mercados personales e institucionales satisfaciendo las expectativas de nuestros clientes en Calidad, Costo y Entrega apoyando de manera directa la educación.',
        },
      ]}
    />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Nuestros valores"
    subtitle="Como empresa proveedora de internet por fibra óptica, queremos garantizarte una excelente experiencia por lo que nos guiamos por nuestros valores."
    items={[
      {
        title: 'Conectividad',
        description:
          'Interwireless te garantiza un servicio de internet confiable, estable y de alta calidad para que puedas acceder a la información, la comunicación y el entretenimiento sin interrupciones.',
      },
      {
        title: 'Innovación',
        description:
          'En un mercado en constante evolución, la innovación es clave para mantenerse a la vanguardia. Como empresa en Interwireless invertimos en buenos equipos y conocimientos para ofrecer soluciones tecnológicas de última generación que satisfagan las necesidades cambiantes de nuestros clientes.',
      },
      {
        title: 'Excelencia en el servicio al cliente',
        description:
          'Brindaremos un servicio al cliente excepcional, con atención personalizada, rápida y eficiente.',
      },
    ]}
  />
</Layout>
