---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Planes',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Planes Mensuales"
    title="Adaptados a tus necesidades"
  />

  <!-- Pricing Widget ******************* -->

  <Prices    
    prices={[
      {
        title: 'Básico',
        price: 22,
        period: 'por mes',
        items: [
          {
            description: 'Hasta 10 Mbps',
          },
          {
            description: '1 pantalla de: TV en vivo, películas, series y más.',
          },
          {
            description: 'Primer mes gratis',
          },
          {
            description: 'Respaldo eléctrico',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Contratar',
          href: 'https://wa.link/dhuebg',
        },
      },
      {
        title: 'Bronce',
        price: 25,
        period: 'por mes',
        items: [
          {
            description: 'Hasta 40 Mbps',
          },
          {
            description: '1 pantalla de: TV en vivo, películas, series y más.',
          },
          {
            description: 'Primer mes gratis',
          },
          {
            description: 'Respaldo eléctrico',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Contratar',
          href: 'https://wa.link/dhuebg',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Plata',
        price: 30,
        period: 'por mes',
        items: [
          {
            description: 'Hasta 70 Mbps',
          },
          {
            description: '1 pantalla de: TV en vivo, películas, series y más.',
          },
          {
            description: 'Primer mes gratis',
          },
          {
            description: 'Respaldo eléctrico',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Contratar',
          href: 'https://wa.link/dhuebg',
        },
      },
      {
        title: 'Oro',
        price: 35,
        period: 'por mes',
        items: [
          {
            description: 'Hasta 90 Mbps',
          },
          {
            description: '1 pantalla de: TV en vivo, películas, series y más.',
          },
          {
            description: 'Primer mes gratis',
          },
          {
            description: 'Respaldo eléctrico',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Contratar',
          href: 'https://wa.link/dhuebg',
        },
      },
      {
        title: 'Full',
        price: 40,
        period: 'por mes',
        items: [
          {
            description: 'Hasta 120 Mbps',
          },
          {
            description: '1 pantalla de: TV en vivo, películas, series y más.',
          },
          {
            description: 'Primer mes gratis',
          },
          {
            description: 'Respaldo eléctrico',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Contratar',
          href: 'https://wa.link/dhuebg',
        },
        
        hasRibbon: true,
      },
    ]}
  />

  <Features2
  title="Instalación rápida de la fibra óptica"
  tagline="precios de instalación"
  columns={2}
  items={[
    {
      title: '$30',
      description:
      '- Incluye el plan bronce <br> - Contamos con respaldo eléctrico',
    },
    {
      title: '$70',
      description:
      '- Incluye router doble banda gigabit <br> - Incluye el plan bronce <br> - Contamos con respaldo eléctrico',
    },
  ]}
/>
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: 'https://wa.link/dhuebg',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Contáctanos</span>
    </Fragment>

    <Fragment slot="subtitle">
      Escríbenos para contratar nuestros servicios y tener más información.
    </Fragment>
  </CallToAction>
</Layout>
