---
import { SITE } from '~/utils/config';
import { Image } from 'astro:assets';

---
<Image src="images/apple-touch-icon.png" alt="cualquier broma" width="50" height="50"/>
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  {SITE?.name}
</span>
